@layout("/common/container.html", {bodyAttr:"class=\"pear-container\"", js:["/ds/js/member/member.js"]}) {
<style>
    .tb-img-circle {
        border-radius: 90%;
        height: 100%;
    }
</style>
<div class="layui-card">
    <div class="layui-card-body">
        <form class="layui-form" lay-filter="memberQueryForm">
            <div class="layui-form-item">
                <div class="layui-form-item layui-inline">
                    <label class="layui-form-label">会员标识</label>
                    <div class="layui-input-inline">
                        <input type="text" name="username" placeholder="" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item layui-inline">
                    <label class="layui-form-label">会员名称</label>
                    <div class="layui-input-inline">
                        <input type="text" name="nickname" placeholder="" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item layui-inline">
                    <button class="pear-btn pear-btn-md pear-btn-primary" lay-filter="memberQueryFormSubmit" lay-submit>
                        <i class="layui-icon layui-icon-search"></i>
                        搜索
                    </button>
                    <button type="reset" class="pear-btn pear-btn-md"><i class="layui-icon layui-icon-refresh"></i>
                        重置
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="layui-card">
    <div class="layui-card-body">
        <table id="memberTable" lay-filter="memberTable"></table>
    </div>
</div>
<script id="avatarTpl" type="text/html">
    <img class="tb-img-circle" alt="" src="{{ Util.isLegalImgSrc(d.avatar) ? d.avatar : Constant.defaultAvatar }}"/>
</script>
<script id="rowBar" type="text/html">
    <button class="pear-btn pear-btn-warming pear-btn-sm" lay-event="account"><i class="layui-icon layui-icon-rmb"></i>
    </button>
</script>
<script id="stateTpl" type="text/html">
    <input type="checkbox" value="{{d.id}}" lay-skin="switch" lay-text="启用|禁用" lay-filter="stateBtn"
           {{ AdminOperator.isAdmin() ? 'disabled' : ''}}
    {{ d.state=== '启用' ? 'checked' : '' }} />
</script>
@}