@layout("/common/container.html", {js:["/ds/js/rankParam/rankParamEdit.js"]}) {
<form action="" class="layui-form" lay-filter="rankParamTable">
    <div class="mainBox">
        <div class="main-container">
            <input name="id" type="hidden">
            <div class="layui-form-item">
                <label class="layui-form-label layui-form-required">会员段位</label>
                <div class="layui-input-block">
                    <input class="layui-input" lay-verify="required" name="memberRankType" readonly>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label layui-form-required">开始积分</label>
                <div class="layui-input-block">
                    <input class="layui-input" lay-verify="required|number" name="beginIntegral">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label layui-form-required">结束积分</label>
                <div class="layui-input-block">
                    <input class="layui-input" lay-verify="required|number" name="endIntegral">
                </div>
            </div>
        </div>
    </div>

    <div class="bottom">
        <div class="button-container">
            <button class="pear-btn pear-btn-primary pear-btn-sm" lay-filter="btnSubmit" lay-submit="" type="submit">
                <i class="layui-icon layui-icon-ok"></i>
                提交
            </button>
            <button class="pear-btn pear-btn-sm" type="reset">
                <i class="layui-icon layui-icon-refresh"></i>
                重置
            </button>
        </div>
    </div>
</form>
@}