@layout("/common/container.html", {bodyAttr:"class=\"pear-container\"", js:["/ds/js/platform/platform.js"]}) {
<div class="layui-card">
    <div class="layui-card-body">
        <form class="layui-form" lay-filter="platformQueryForm">
            <div class="layui-form-item">
                <div class="layui-form-item layui-inline">
                    <label class="layui-form-label">平台标识</label>
                    <div class="layui-input-inline">
                        <input class="layui-input" name="username" placeholder="" type="text">
                    </div>
                </div>
                <div class="layui-form-item layui-inline">
                    <label class="layui-form-label">平台名称</label>
                    <div class="layui-input-inline">
                        <input class="layui-input" name="nickname" placeholder="" type="text">
                    </div>
                </div>
                <div class="layui-form-item layui-inline">
                    <button class="pear-btn pear-btn-md pear-btn-primary" lay-filter="platformQueryFormSubmit"
                            lay-submit>
                        <i class="layui-icon layui-icon-search"></i>
                        搜索
                    </button>
                    <button class="pear-btn pear-btn-md" type="reset"><i class="layui-icon layui-icon-refresh"></i>
                        重置
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="layui-card">
    <div class="layui-card-body">
        <table id="platformTable" lay-filter="platformTable"></table>
    </div>
</div>

<script id="toolbar" type="text/html">
    <button id="addButton"
            class="pear-btn pear-btn-md {{ AdminOperator.isAdmin() ? 'pear-btn-primary' : 'layui-btn-disabled'}}"
            lay-event="{{ AdminOperator.isAdmin() ? 'add' : ''}}"><i class="layui-icon layui-icon-add-1"></i>
        新增
    </button>
</script>
<script id="stateTpl" type="text/html">
    <input type="checkbox" value="{{d.id}}" lay-skin="switch" lay-text="启用|禁用" lay-filter="stateBtn"
           {{ AdminOperator.isAdmin() ? '' : 'disabled'}}
    {{ d.state=== '启用' ? 'checked' : '' }} />
</script>
@}